@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-t-color5 text-t-color4 font-sans;
}

* {
  @apply focus:outline-blue-400 focus:outline-8
}

*:disabled {
  @apply opacity-30 cursor-not-allowed
}

a {
  @apply text-t-color2 hover:text-t-color3 font-bold;
}

h1 {
  @apply text-5xl font-serif;
}

code {
  @apply bg-slate-800 text-slate-200 px-1 rounded-md
}

/* box */

.containerBox {
  @apply bg-t-color1 rounded-md shadow-lg mx-2 mt-1 p-2;
}

/* buttons */

button.start {
  @apply bg-green-600
}

button.stop,
button.reset {
  @apply bg-t-color2
}

button.inverse {
  @apply text-t-color5 hover:text-t-color1 bg-t-color1 border-t-color5 border
}

button {
  @apply text-t-color1 bg-t-color4 hover:bg-t-color5 rounded-md px-2 h-8
}

/* inputs */

input, textarea {
  @apply bg-gray-600 text-t-color1 px-2 py-1 ml-2 rounded-md;
}

select {
  @apply border border-slate-800 rounded-md
}

/* React Flow styles */

.react-flow-custom {
  /* React Flow style vars */
  --xy-background-color: whitesmoke;
  @apply text-t-color4;
}

.rf-node {
  background: #777;
  color: white;
}

.rf-node_active {
  @apply !bg-t-color3;
}

.rf-node_default {
  @apply !text-t-color4
}

.rf-node_active.rf-node_input {}

.rf-node_active.rf-node_calc {}

.rf-node_active.rf-node_halt {
  @apply !bg-t-color2 !text-t-color1
}