@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-t-color1 text-t-color4 font-serif;

  /* in tailwind config instead */
  --t-color0: #FBFBFB;
  --t-color1: #c9c9c9;
  --t-color2: #9E4770;
  --t-color3: #631D76;
  --t-color4: #423647;
  --t-color5: #201A23;
}

a {
  @apply text-t-color2 hover:text-t-color3 font-bold;
}

h1 {
  @apply text-4xl underline underline-offset-4;
}

input {
  @apply bg-t-color4 text-t-color1 px-2 ml-2 rounded-md;
}

button.start {
  @apply bg-green-600
}
button.stop {
  @apply bg-t-color2
}
button.reset {
  @apply bg-t-color5
}
button {
  @apply text-t-color1 bg-t-color4 hover:bg-t-color3 rounded-md px-2 h-8
}
button:disabled {
  @apply opacity-30 cursor-not-allowed
}

.react-flow-custom {
  /* React Flow style vars */
  --xy-background-color: var(--t-color0);
  --xy-edge-stroke-selected: var(--t-color2);
  @apply text-t-color4;
}

.containerBox {
  @apply bg-t-color1 p-2 rounded-md shadow-lg mx-2 mt-1;
}